body {
    margin: 0;
}
.header {
    padding: 20px;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b0b0b0;
}
li {
    float: left; 
}
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(255, 81, 0)
}
.column {
    float: left;
    width: 100%;
    padding: 15px;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #fa8c8c;
}
th {
    background-color: rgb(122, 121, 121);
    height: 50px;
  }
table {
    border-collapse: collapse;
    width: 100%;
}
.row:after {
content: "";
display: table;
clear: both;
}
@media screen and (max-width:600px) {
    .column {
      width: 100%;
}
}
div.gallery {
    border: 1px solid #ccc;
  }
  div.gallery:hover {
    border: 1px solid #777;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
  div.desc {
    padding: 15px;
    text-align: center;
  }
  * {
    box-sizing: border-box;
  }
  .responsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
.footer{
    background-color: rgb(183, 79, 79);
    padding: 50px;
    text-align: center;
}