* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    align-items: center;
}
body {
    margin: 4px;
    background: linear-gradient(#f99,#99f);
}
.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 1000;
    background-color: rgb(253, 143, 143);
}
.nav ul {
    display: flex;
}
.nav ul li {
    width: 140px;
    list-style: none;
    text-align: center;
}
.nav ul li a {
    width: 140px;
    font-size: 25px;
    color: black;
}
.nav ul li a:hover {
    display: block;
    background-color: rgb(193, 193, 255);
    color: white;
}
.nav ul li ul {
    position: absolute;
    display: none;
    width: 140px;
}
.nav ul li ul li {
    background-color: pink;
}
.nav ul li ul li a:hover {
    color: white;
}
.nav ul li ul li:hover {
    background-color: pink;
}
.nav ul li:hover ul {
    display: block;
}
.main {
    background: linear-gradient(rgb(237, 186, 186),rgb(181, 181, 237));
    margin: 0 auto;
    width: 80%;
    height: 1415px;
    text-align: center;
}
table, td, th {  
    border: 1px solid #ddd;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 15px;
}
@media only screen and (max-width: 700px) {
    img {
      width: 50%;
    }
    video {
        width: 50%;
    }
}
.footer {
    padding: 20px;
    position: relative;
    text-align: center;
    background: rgb(142, 142, 255);
    margin-top: 20px;
}